openapi: 3.1.0
info:
  title: Discover Albania Transport — Mobile API
  version: "1.0.0"
  description: |
    API surface for the native Android ticket-agent app (drivers/conductors/
    agents): device activation, staff login, today's trips, ticket
    validation, ticket sales, print jobs, and offline sync. All booking,
    payment, and ticket *data* remain authoritative on this backend — the
    Android app is a client, not a second source of truth.

    Base path: `/api/mobile/v1`. Versioned from day one so a future breaking
    change doesn't break an already-installed APK in the field.

    **Production activation gate**: `tickets/sell` and real fiscal-receipt
    printing are only reachable when the login/refresh response's
    `capabilities.sellingEnabled` / `capabilities.fiscalPrintingEnabled` are
    `true` — both are hardcoded `false` in production until a real certified
    fiscalization provider is live. See the implementation plan for details.
servers:
  - url: https://transport.discoveralbania.al/api/mobile/v1
security:
  - bearerAuth: []
paths:
  /device/activate:
    post:
      summary: Activate a device with a one-time code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [activationCode, deviceIdentifier]
              properties:
                activationCode:
                  type: string
                  description: 8-character code generated by a vendor owner in the web panel (Vendor → Devices), single-use, expires after 30 minutes.
                deviceIdentifier:
                  type: string
                  description: App-generated install identifier, stored for display only (not a security boundary).
      responses:
        "200":
          description: Activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: integer }
        "410":
          description: Code invalid, already used, or expired
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /auth/login:
    post:
      summary: Staff login on an activated device
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId, email, password]
              properties:
                deviceId: { type: integer }
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Logged in
          content:
            application/json: { schema: { $ref: "#/components/schemas/AuthResponse" } }
        "401":
          description: Device not active, or invalid credentials
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }
        "403":
          description: Account has no scanner/bookings access
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /auth/refresh:
    post:
      summary: Exchange a refresh token for a new access + refresh token pair
      description: Refresh tokens rotate on every use — the presented token is revoked and a new one issued, limiting a stolen token to a single use.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties: { refreshToken: { type: string } }
      responses:
        "200":
          description: Rotated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AuthResponse"
                  - type: object
                    description: vendor is omitted on refresh (only present on login)
        "401":
          description: Refresh token invalid, expired, revoked, or its device was revoked
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /auth/logout:
    post:
      summary: Revoke a refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties: { refreshToken: { type: string } }
      responses:
        "200": { description: OK }

  /trips/today:
    get:
      summary: List today's scheduled departures for the signed-in operator
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  date: { type: string, format: date }
                  trips:
                    type: array
                    items: { $ref: "#/components/schemas/Trip" }

  /trips/{id}/tickets:
    get:
      summary: Manifest (boarding list) for one departure on one date
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
          description: Defaults to today (Europe/Tirane).
      responses:
        "200":
          description: OK
          content:
            application/json: { schema: { $ref: "#/components/schemas/Manifest" } }
        "404":
          description: Trip doesn't belong to this operator
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /tickets/validate:
    post:
      summary: Validate (and, on success, check in) a scanned ticket
      description: |
        Safe to retry with the same scannedValue — the underlying check-in
        write is a compare-and-swap guarded on the ticket not already being
        checked in, so a retried/duplicate call resolves to `already_used`
        rather than double-counting anything.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scannedValue]
              properties:
                scannedValue:
                  type: string
                  description: Either the raw QR payload (`DAT1:<token>`) or a typed booking reference (`DA-XXXXXXXX`).
                expectedRouteId:
                  type: integer
                  description: Set when the scanner was opened from a specific route's manifest, to flag a different route's ticket as wrong_route before anything else.
      responses:
        "200":
          description: |
            Always 200 — the validation *outcome* is in the body's `status`
            field: valid | valid_off_hours | already_used | too_early |
            expired | cancelled | unpaid | wrong_route | wrong_operator |
            invalid_code | not_found.
          content:
            application/json: { schema: { $ref: "#/components/schemas/TicketValidationResult" } }

  /tickets/sell:
    post:
      summary: Sell a new ticket (cash/card-on-device)
      description: |
        Gated on the `bookings` permission and on
        `capabilities.sellingEnabled` (production-disabled until a real
        fiscalization provider is live — see the implementation plan).
        Online-only, never offline-queued. Requires an `Idempotency-Key`
        header; a retried request with the same key replays the original
        result instead of selling a second ticket.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tripDepartureId, travelDate, passengerName, passengerPhone, seats, paid]
              properties:
                tripDepartureId: { type: integer }
                travelDate: { type: string, format: date }
                passengerName: { type: string }
                passengerPhone: { type: string }
                passengerEmail: { type: string, format: email }
                seats: { type: integer, minimum: 1, maximum: 9 }
                routeStopId: { type: integer, description: Intermediate boarding stop, if not boarding at the route's start. }
                paid: { type: boolean }
                amountOverride: { type: string, description: "Overrides the computed fare+fee total, e.g. for a discount." }
      responses:
        "200":
          description: Sold
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookingId: { type: integer }
                  bookingReference: { type: string }
                  ticketToken: { type: string, nullable: true }
                  fiscalization: { $ref: "#/components/schemas/FiscalizationResult" }
        "400": { description: Missing Idempotency-Key or invalid body, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "403": { description: Selling disabled (capabilities gate) or account lacks bookings permission, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "422": { description: Sale failed (sold out, invalid date, no price set, etc), content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /print-jobs:
    post:
      summary: Create a durable, retryable print job
      description: A print job is decoupled from whatever sale/validation triggered it — a flaky printer can be retried via complete/fail without re-selling or re-validating anything.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, payload]
              properties:
                bookingId: { type: integer }
                type: { type: string, enum: [ticket, receipt, reprint] }
                isCopy: { type: boolean, default: false }
                reprintReason: { type: string, description: Required when isCopy is true. }
                payload: { type: object, description: The exact receipt data to render (logo, route, passenger, price, QR, fiscal identifiers, etc). }
                clientIdempotencyKey: { type: string }
      responses:
        "200":
          description: Created (or replayed, if clientIdempotencyKey was already used)
          content:
            application/json: { schema: { $ref: "#/components/schemas/PrintJob" } }
        "400":
          description: isCopy is true without a reprintReason, or invalid body
          content:
            application/json: { schema: { $ref: "#/components/schemas/Error" } }

  /print-jobs/{id}:
    get:
      summary: Get a print job's current status
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json: { schema: { $ref: "#/components/schemas/PrintJob" } }
        "404": { description: Not found, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /print-jobs/{id}/complete:
    post:
      summary: Mark a print job completed
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "200": { description: OK }
        "404": { description: Not found, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "409": { description: Already completed or failed, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /print-jobs/{id}/fail:
    post:
      summary: Mark a print job failed, so it can be retried
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, enum: [paper_out, disconnected, timeout, unknown_failure] }
                detail: { type: string, maxLength: 500 }
      responses:
        "200": { description: OK }
        "404": { description: Not found, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "409": { description: Already completed or failed, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /sync/manifest:
    get:
      summary: Download today's confirmed-and-paid tickets for offline validation
      description: |
        Only a SHA-256 hash of each ticket's token is returned, never the
        raw bearer credential — the app compares a scanned QR's token
        (hashed locally) against this cache while offline. A code that
        isn't in this list can't be resolved offline; the app should show
        "needs connection to verify" rather than guessing at the full
        status taxonomy tickets/validate supports online.
      parameters:
        - name: date
          in: query
          schema: { type: string, format: date }
          description: Defaults to today.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  date: { type: string, format: date }
                  tickets:
                    type: array
                    items: { $ref: "#/components/schemas/SyncManifestTicket" }

  /sync:
    post:
      summary: Batch-replay queued offline validations
      description: |
        Processes each item through the same validation logic as
        tickets/validate, in order, and returns a per-item outcome — a
        ticket checked in on two different offline devices resolves to one
        winner here and an "already_used" conflict for the other.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [validations]
              properties:
                validations:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [clientIdempotencyKey, scannedValue]
                    properties:
                      clientIdempotencyKey: { type: string, description: Correlation id only, to match responses back to the local queue. }
                      scannedValue: { type: string }
                      expectedRouteId: { type: integer }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        clientIdempotencyKey: { type: string }
                        result: { $ref: "#/components/schemas/TicketValidationResult" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token from /auth/login or /auth/refresh, 15-minute TTL.
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
    Capabilities:
      type: object
      properties:
        sellingEnabled: { type: boolean }
        fiscalPrintingEnabled: { type: boolean }
    AuthResponse:
      type: object
      properties:
        accessToken: { type: string }
        accessTokenExpiresAt: { type: integer, description: Epoch milliseconds. }
        refreshToken: { type: string }
        refreshTokenExpiresAt: { type: string, format: date-time }
        capabilities: { $ref: "#/components/schemas/Capabilities" }
        vendor:
          type: object
          description: Present on login only.
          properties:
            id: { type: integer }
            name: { type: string }
            isOwner: { type: boolean }
            permissions: { type: array, items: { type: string } }
            operatorName: { type: string }
    Trip:
      type: object
      properties:
        id: { type: integer }
        routeId: { type: integer }
        routeCode: { type: string }
        routeLongName: { type: string }
        fromStationName: { type: string }
        toStationName: { type: string }
        departureTime: { type: string }
        arrivalTime: { type: string }
        plannedSeats: { type: integer }
    ManifestPassenger:
      type: object
      properties:
        bookingReference: { type: string }
        passengerName: { type: string }
        passengerPhone: { type: string }
        passengerEmail: { type: string, nullable: true }
        seats: { type: integer }
        channel: { type: string, enum: [online, walk_in, phone, touch_screen, mobile] }
        checkedInAt: { type: string, format: date-time, nullable: true }
    Manifest:
      type: object
      properties:
        tripDepartureId: { type: integer }
        routeId: { type: integer }
        date: { type: string, format: date }
        routeCode: { type: string }
        routeLongName: { type: string }
        operatorName: { type: string }
        fromStationName: { type: string }
        toStationName: { type: string }
        departureTime: { type: string }
        arrivalTime: { type: string }
        totalSeatsBooked: { type: integer }
        passengers: { type: array, items: { $ref: "#/components/schemas/ManifestPassenger" } }
    TicketValidationResult:
      type: object
      description: Shape varies by status — wrong_operator and invalid_code/not_found carry fewer fields (never another operator's passenger data).
      properties:
        status:
          type: string
          enum: [valid, valid_off_hours, already_used, too_early, expired, cancelled, unpaid, wrong_route, wrong_operator, invalid_code, not_found]
        bookingReference: { type: string }
        passengerName: { type: string }
        seats: { type: integer }
        travelDate: { type: string, format: date }
        routeCode: { type: string }
        fromStationName: { type: string }
        toStationName: { type: string }
        boardingStationName: { type: string }
        scheduledBoardingAt: { type: string, format: date-time }
        checkedInAt: { type: string, format: date-time, nullable: true }
        operatorName: { type: string, description: Only present for wrong_operator. }
    FiscalizationResult:
      type: object
      properties:
        fiscalized: { type: boolean }
        nivf: { type: string }
        nslf: { type: string }
        qrData: { type: string }
        reason: { type: string }
    PrintJob:
      type: object
      properties:
        id: { type: integer }
        deviceId: { type: integer, nullable: true }
        vendorUserId: { type: integer, nullable: true }
        bookingId: { type: integer, nullable: true }
        type: { type: string, enum: [ticket, receipt, reprint] }
        isCopy: { type: boolean }
        reprintReason: { type: string, nullable: true }
        fiscalStatus: { type: string, enum: [not_required, pending, confirmed, failed] }
        fiscalNivf: { type: string, nullable: true }
        fiscalNslf: { type: string, nullable: true }
        fiscalQrData: { type: string, nullable: true }
        payload: { type: object }
        status: { type: string, enum: [queued, completed, failed] }
        failureReason: { type: string, nullable: true }
        clientIdempotencyKey: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }
        failedAt: { type: string, format: date-time, nullable: true }
    SyncManifestTicket:
      type: object
      properties:
        bookingId: { type: integer }
        bookingReference: { type: string }
        ticketTokenHash: { type: string, description: SHA-256 hex digest of the ticket token, never the raw value. }
        passengerName: { type: string }
        seats: { type: integer }
        travelDate: { type: string, format: date }
        routeId: { type: integer }
        checkedInAt: { type: string, format: date-time, nullable: true }
